body {
    margin: 0;
    background-color: black;
}

h1, p, label {
    color: white;
}
  
.modelImageSquare {
    cursor: pointer;
    width: 200px;
    height: 200px;
    display: block;
}

.modelImageRectangle {
    cursor: pointer;
    width: 300px;
    height: 200px;
    display: block;
}
  
.webgl {
    display: block;
}

.days {
    display: flex;
    height: 100vh;
    width: 50vw;
    overflow-y: auto;
    margin-right: 10px;
}

.day {
    display: flex;
    gap: 10px;
    flex: 1;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-bottom: 10px;
}

.slidercontainer{
    display: flex;
    gap: 10px;
    flex: 1;
}

#sliderscontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    height: 400;
    overflow-y: auto;
}

#canvas {
    margin-right: 20px;
    margin-left: 10px;
}

#camerasliders {
    margin-right: 20px;
}