body {
    margin: 0;
    background-color: black;
}

h1, p, label {
    color: white;
}
  
.modelImageSquare {
    cursor: pointer;
    width: 200px;
    height: 200px;
    display: block;
}

.modelImageRectangle {
    cursor: pointer;
    width: 300px;
    height: 200px;
    display: block;
}
  
.webgl {
    display: block;
}

.days {
    position: relative;
    display: flex;
    height: 100vh;
    overflow-y: auto;
}

.day {
    display: flex;
    gap: 10px;
    flex: 1;
    flex-wrap: wrap;
    overflow-y: auto;
    margin-bottom: 10px;
}

.slidercontainer{
    display: flex;
    gap: 10px;
    flex: 1;
}

.sliderscontainer{
    display: flex;
    gap: 10px;
    flex: 1;
}